body {
    background: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

button {
    color: rgba(0, 0, 0, 0.365);
    background-color: rgba(0, 0, 0, 0.1);
    outline-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 15px 32px;
    border: 2px solid #ffffff20;
}

div:focus {
    outline: none !important;
}