.container_photo_grid {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 15px;

    .photo_grid {
        grid-template-columns: repeat(3,minmax(0,1fr));
        align-items: flex-end;
        display: grid;
        font-size: 13px !important;
        padding-bottom: 20px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .img_size {
        height: 100%;
        width: 100%;
        cursor: zoom-in;
        padding-top: 0px;
        vertical-align: top;
    }
}

.pic_column {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

a {
    background-color: initial;
    transition: all 0.1s ease-in-out;
}

.custom_a_zoom {
    color: #fffc;
    cursor: zoom-in;
    text-decoration: none;
}

.custom_a {
    color: #fffc;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

#spacer_div {
    height: 20px !important;
}

#spacer_medium_div {
    height: 60px !important;
}

#spacer_large_div {
    height: 200px;
}

#spacer_div_19 {
    height: 19px;
}

#spacer_div_pixel {
    height: 1px;
}